/* Reset de estilos (opcional, mas recomendado) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: sans-serif;
    margin: 0px 0px 50px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
     overflow-x: hidden;
    background-color: #f0f0f0;}

/* Cabeçalho */
header {
    background-color: #001e30;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Fixa o cabeçalho no topo */
    top: 0;
    z-index: 100; /* Garante que o cabeçalho fique acima de outros elementos */

   }

   header .logo{
    font-size: 2rem;
     font-weight: bold;
    text-decoration: none;
}

header .logo span{
    color: #ffcc00;
}

header .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-top: 15px;
}

.logo h1 {
    color: #de970b;
    font-size: 24px;
}

.back-icon {
    margin-right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* Barra de Pesquisa */
.search-bar {
    background-color: #b7c4cf;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    max-width: 500px; /* Largura máxima para a barra de pesquisa */
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 16px;
}

.search-bar i {
    font-size: 20px;
    color: #777;
    cursor: pointer;
    align-self: center; /* Alinha o ícone verticalmente */
}

/* Filtros */
.filters {
    background-color: #d9d9d9;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters button,
.filters select {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #bfbfbf;
    cursor: pointer;
}

.filters select {
    background-color: #bfbfbf;
    color: #333;
}

/* Resultados (Cards) */
.results {
    padding: 20px;
}

.card {
    background-color: #ffffff; /* Cor de fundo para os cards */
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 8px; /* Cantos arredondados */
    margin-bottom: 20px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.164); /* Sombra suave */
    overflow: hidden; /* Para garantir que a imagem não ultrapasse os cantos arredondados */
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    border-bottom: 1px solid #eff2ff; /* Linha separadora entre a imagem e o conteúdo */
}

.card .info {
    padding: 15px;
    /* position: relative;  Para posicionar o ícone de favorito */
}

.card .info .title-card {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px; /* Espaço entre o título e a categoria */
}

.card .category {
    font-size: 14px;
    color: #de970b;
    margin-bottom: 10px; /* Espaço entre a categoria e os contatos */
}

.card .contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre os contatos e o status */
}

.card .contact i {
    font-size: 18px;
    color: #333;
    margin-right: 15px;
}

.card .status {
    font-size: 14px;
    font-weight: 600; /* Deixa o status em negrito */
}

.card .open {
    color: green;
}

.card .closed {
    color: red;
}

.card .close-soon {
    color: orange;
}

.card .details {
    background-color: #1e6517;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Transição suave no hover */
}

.card .details:hover {
    background-color: #14460b; /* Escurece um pouco no hover */
}

/* Ícone de Favorito */
.card .info .favorito {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: red;
}

/* Página de Detalhes */
#empresa-detalhes {
    padding: 20px;
}

#empresa-detalhes .title {
    color: #183055;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#empresa-detalhes .top-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: center;
}

#empresa-detalhes .top-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

#empresa-detalhes .top-info .info {
    flex-grow: 1;
}

#empresa-detalhes h2 {
    margin: 0 0 5px 0;
    font-size: 24px;
}

#empresa-detalhes .category {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

#empresa-detalhes .rating {
    margin-bottom: 10px;
}

#empresa-detalhes .rating i {
    color: #ffc107;
}

#empresa-detalhes .tabs {
    display: flex;
    margin-bottom: 20px;
}

#empresa-detalhes .tabs button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

#empresa-detalhes .tabs button.active {
    background-color: #0d6efd;
}

#empresa-detalhes .tab-content div {
    padding: 5px;
}

#empresa-detalhes .tab-content {
    border: 1px solid #4285f4;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
}

/* Ações da Página de Detalhes */
#empresa-detalhes .actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#empresa-detalhes .actions button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    flex: 1 0 auto;
    justify-content: center;
    font-size: 14px;
    transition: background-color 0.3s; /* Transição suave no hover */
}

#empresa-detalhes .actions button:hover {
    background-color: #2a65d9; /* Escurece um pouco no hover */
}

#empresa-detalhes .actions button i {
    margin-right: 5px;
}

#empresa-detalhes .actions button#salvar.salvo {
    background-color: #ff4081; /* Cor para o botão "Salvo" */
}

#empresa-detalhes .actions button#salvar.salvo i {
    color: white; /* Cor do ícone para o botão "Salvo" */
}

/* Informações da Página de Detalhes */
#empresa-detalhes .info-list {
    margin-bottom: 20px;
}

#empresa-detalhes .info-list p {
    margin: 5px 0;
    font-size: 14px;
}

#empresa-detalhes .info-list .status {
    font-weight: bold;
}

#empresa-detalhes .info-list .open {
    color: green;
}

#empresa-detalhes .info-list .closed {
    color: red;
}

#empresa-detalhes .info-list .close-soon {
    color: orange;
}

.fa-share-alt {
    margin-left: 5px;
}

#empresa-detalhes .info-list a {
    color: #4285f4;
    text-decoration: none;
}

/* Mapa */
#map {
    height: 300px;
    border-radius: 5px;
    z-index: -1;
}

/* ... outros estilos ... */

nav {
    position: relative;
}

nav .fa-bars {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

nav .fa-bars:hover {
    font-size: 24px;
    color: #ff9100;
    cursor: pointer;
}

nav ul.menu {
    display: none;
    position: fixed;
    top: 0;
    right: -350px;
    width: 200px;
    height: 100%;
    background-color: #22456ed5;
    margin: 0;
    padding: 0;
    z-index: 100; /* Deve ser maior que o z-index do overlay */
    transition: right 0.3s ease;
    overflow-y: auto;
}

nav ul.menu.open {
    right: 0;
    display: block;
}

nav ul.menu li {
    list-style: none;
}

nav ul.menu li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #29547f; /* Linha separadora entre os itens do menu */
}

nav ul.menu li a:hover {
    background-color: #1a3452;
    color: #ff9100;
    font-weight: 600;

}

nav ul.menu li.close-menu {
    text-align: right;
    padding: 15px;
}

nav ul.menu li.close-menu i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Estilos para o overlay (fundo escuro) */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50; /* Deve ser menor que o z-index do menu */
}

.overlay.open {
    display: block;
}

.back-button {
    background-color: #4286f400; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px; /* Adiciona um espaçamento abaixo do botão */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.back-button i {
    margin-top: 10px;
    margin-right: 05px; /* Espaço entre o ícone e o texto */
}

.back-button:hover {
    background-color: #ffa60000; /* Escurece um pouco no hover */
color: #ff9100;}

header .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
}



.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100%;
    background: #001e30;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
     display: flex;
     flex-direction: column;
}

.sidebar.active {
    left: 0;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.2rem;
    color: #ffffff;
}

.sidebar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
     font-size: 15px;
    border-bottom: 1px solid #eeeeee83;
}

.sidebar a:last-child {
  border-bottom: none;
}

.sidebar-search {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #ffffffa9;
  color: #001e30;
}

.sidebar-categories {
    margin-top: 15px;
}

.sidebar-categories h3{
  color: #ffffff;
   padding-bottom: 10px;
   border-bottom: 1px solid #ffffff;
   margin-top: 5px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #001e30f6;
    box-shadow: 20px -2px 10px rgba(0, 0, 0, 0.555);
    z-index: 100;
    /* Garante que o menu fique acima de outros elementos */
  }

  .bottom-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .bottom-nav li {
    flex-grow: 1;
    text-align: center;
  }

  .bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
    height: 100%;
    width: 100%;
  }

  .bottom-nav i {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #ffffff;
    padding-top: 5px;
    
  }

  .bottom-nav span {
    font-size:0.8rem;
  }


/* --- Adicione em style.css ou style_index.css --- */
.filters .filter-group {
    position: relative; /* Para posicionamento absoluto do filter-options */
}

.filters .filter-button {
    background-color: #bfbfbf; /* Cor de fundo do botão "Filtrar" */
    color: #333;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters .filter-button i {
    margin-left: 5px;
}

.filters .filter-options {
    position: absolute; /* Posiciona as opções de filtro relative ao filter-group */
    top: 100%; /* Abaixo do botão "Filtrar" */
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    width: 250px; /* Largura das opções de filtro */
    z-index: 10; /* Garante que as opções fiquem acima do conteúdo */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.filters .filter-options.hidden {
    display: none;
}

.filters .filter-options h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.filters .category-checkboxes .category-checkbox-item {
    margin-bottom: 8px;
}

.filters .category-checkboxes .category-checkbox-item label {
    margin-left: 5px;
}

.filters .status-filter select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.filters #apply-filters-button {
    background-color: #007bff; /* Cor de fundo do botão "Aplicar Filtros" */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.filters #apply-filters-button:hover {
    background-color: #0056b3; /* Cor de fundo mais escura no hover */
}
/* --- Fim dos estilos adicionados --- */
